#gridItem{
    width: 25%;
    height: 280px;
    box-sizing: border-box;

}
#gridItem img:before{
    content: '';
    display: block;
    padding-top: 100%;
}
#gridItem img  {
    width: 80%;

}
#gridItem h4 {
    padding: 20px 0 5px 10px;
    margin: 0;
    color: white;

}
#gridItem p  {
    color: grey;
    margin: 0;
    padding: 6px 0 0 0;
}
#gridItem .gridLink{
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: whitesmoke;
}
#gridItem .gridLink:hover{
    text-decoration: underline;
}